<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test login page</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="http://ec2-54-153-11-215.us-west-1.compute.amazonaws.com/templates/testlogin.css" rel="stylesheet"> 
    <script src="http://ec2-54-153-11-215.us-west-1.compute.amazonaws.com/jQuery3.1.1"></script>

  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="signIn">Sign In</a></li>
            <li role="presentation" class="active"><a href="signUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Giving Tree Financial</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Giving Tree</h1>
 
	<p id="usernameLabel"> Username </p>
	<p id="emailLabel"> Email </p>
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>


